*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 7px; 
}
  
::-webkit-scrollbar-track {
background:rgb(223, 223, 224); 
}

::-webkit-scrollbar-thumb {
background:rgb(148, 148, 148);
}
.navbar{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    
}
.left-nav{
    width: 30%;
    padding-left: 20px;
    align-items: center;
    & .fa-list{
        color: rgb(34, 34, 34);
        font-size: 20px;
    }
    & img{
        width: 80px;
        margin-left: 20px;
        cursor: pointer;
        
        
    }
    

}
.center-nav{
    width: 50%;
    & input {
        width: 60%;
        height: 30px;
        border: 1px solid rgb(187, 187, 187); 
        border-radius: 30px 0px 0px 30px;
    }
    & button{ 
        padding: 7px 18px ;
        margin-left: -5px;
        border: 1px solid rgb(192, 192, 192); 
        border-radius:  0px 30px  30px 0px;
        cursor: pointer;
        
        
    }
    & button:hover{
        border: 1px solid rgb(187, 187, 187); 
    }
    & a .fa-solid{
        margin-left: 30px;
        color: rgb(34, 34, 34);
        cursor: pointer;

    }
}
.right-nav{
    width: 20%;
    & .right-icon{
        & .fa-solid{
            color:rgb(34, 34, 34);
        }
        margin-left: 100px;
        & a {
            color:rgb(34, 34, 34) ;
            .fa-regular{
            margin: 0 10px ;
            color:rgb(34, 34, 34);
            padding-right:1px ;
            
            
            
        }
        &.user{
            border: none;
            padding: 5px 5px;
            border-radius: 30px;
            text-decoration: none;
            color: rgb(8, 80, 235);
            font-weight: 400;
            .fa-regular{
                color: rgb(8, 80, 235); 
            }
        }
        }
        
        
    }
   
}

container{
    
    
    & .icons{
        width:225px ;
        position: fixed;
        top: 60px;
        left: 0px;
        margin-left:10px ;
        height: 100vh;
        overflow:scroll;
        padding-bottom: 100px;
        & .icons-top{
            margin-top:7px;
            display: flex;
            font-weight: 200;
            height: auto;
            & ul{
                list-style: none;
                gap: 1rem;
                & li{
                    
                    padding-block: 10px;
                    padding-right: 80px;
                    padding-left: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                   
                    & a{
                    text-decoration: none;
                    color: rgb(48, 48, 48);
                    font-weight: 100;
                    & .fa-play{
                        margin-left: 3px;
                    }
                    & .fa-play,.fa-tv,.fa-house{
                        margin-right: 10px;
                        
                    }
                    
    
                } 
                }
                
            }

        }
        & .exporte{
            & h3{
                color: rgb(34, 34, 34);
                font-weight: 400;
                margin-bottom: 10px;
            }
            & ul{
                
                
                & .li-exporte{
                    
                    padding-block: 10px;
                    padding-right: 80px ;
                    padding-left: 10px;
                    border-radius: 10px;
                    cursor: pointer;
                    
                    
                    
                    & a{
                        text-decoration: none;
                        color: rgb(34, 34, 34);
                        & .fa-fire,.fa-music,.fa-wifi,.fa-gamepad,.fa-newspaper,fa-volleyball,.fa-chalkboard,.fa-glasses,.fa-volleyball{
                            margin-right: 20px;
                        }
                    }

                }
            }
        }
        
        & .icons-center{
            margin-top: 25px;
            display: flex;
            font-weight: 200;
            height: auto;
            & ul{
                list-style: none;
                
                & li{
                    
                    padding-block: 10px;
                    padding-right: 100px;
                    padding-left: 10px;
                    border-radius: 10px;
                    list-style: none;
                    cursor: pointer;
                    & a{
                        text-decoration: none;
                        
                        color: rgb(48, 48, 48);
                        & .fa-clock-rotate-left,.fa-forward-fast,.fa-chromecast,.fa-clock,.fa-thumbs-up{
                            margin-right: 20px;
                        }
                        & .fa-arrow-right{
                            margin-left: 10px;
                        }
                        
                        
                        
    
                    }

                }
                
            }
            
           
        }
        & .icon-yout{
            & div{ 
                display: flex;
                
                padding-block: 7px;
                padding-right: 50px;
                padding-left: 10px;
                border-radius: 10px;
                list-style: none;
                cursor: pointer;
                & a{
                    text-decoration: none;
                    color: black;
                    font-weight: 100;
                    
                    

                } 
                & .img-icon-yout{
                        width: 27px;
                        margin-right: 15px ;
                        
                    }
            }
               
            }
    }
    & .video-youtube{
        width: 80%;
    }
}
hr{
    display: none;
}
.create{
    display: none;
}
.user-sign{
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    align-items: center;
    justify-content:space-around;
    & .gmail-log{
        margin-bottom: 150px;
        margin-left: 50px;
        & img {
            width: 100px;
        }
        & h1{
            font-size: 40px;
            font-weight: 400;
            margin-bottom: 30px;
        }
        & p{
            font-size: 20px;
            font-weight: 300;
            color: rgb(29, 29, 29);
        }
    }
    & .input-log{
        
        & .input{
            display: flex;
            flex-direction: column;
            & input{
                position: relative;
                width: 100%;
                height: 55px;
                border: 1px solid rgb(126, 126, 126);
                border-radius: 5px;
                margin-bottom: 5px;
                border: 1px solid ;
                outline: none;
                transition: 0.1s ease ;
                background:transparent ;
                z-index: 1;

            }
            & .label-line{
                position: absolute;
                margin-top: 17px;
                margin-left: 10px;
                padding-inline: 5px;
                color: rgb(133, 133, 133);
                font-size: 1.2rem;
                font-weight: 400;
                background-color: white;
                transition: 0.3s ease;
                z-index: 0;
            }
            & input:focus
            ,input:valid{
                color: black;
                border: 2px solid #0171a5;
            }
            & input:focus +.label-line
            ,input:valid +.label-line{
                color: #0181bd;
                height: 30px;
                line-height: 30px;
                transform: translate(-10px,-33px) scale(0.88);
                z-index: 1111;
                font-size: 16px;
            }
            
            & a{
                margin-bottom: 50px;
                text-decoration: none;
                color: rgb(1, 88, 168);
                font-weight: 500;
            }
            & p{
                width: 500px;
            }
            
        }
       
        & .next-create{
            margin-left: 300px;
            margin-top: 30px;
            display: flex;
            align-items: center;
            
                & button{
                padding: 15px 25px;
                border: none;
                border-radius: 30px;
                background-color: rgb(24, 116, 253);
                color: white;
                margin-left: 30px;
               
            }
                & .createAccount{
                    & a{
                        letter-spacing: 1px;
                        color:rgb(24, 116, 253);
                        text-decoration: none;
                        font-size: 18px;
                        font-weight: 500;
                        padding-bottom: 50px;
                       
                        
                        
                            
                        }
                        & ul{
                            text-decoration: none;
                            list-style: none;
                            position: fixed;
                            bottom: 95px;
                            right: 200px;
                            
                            padding: 7px 15px;
                            border-radius: 10px;
                            box-shadow: 2px 5px 20px #888888;
                            & li{
                                padding:15px 0px ;
                                color: rgb(39, 39, 39);
                                font-size: 18px;
                                font-weight: 500;
                            }

                            

                        }
            }
           
        }
        
        
    }
}
.active{
    display: block !important;
}
.list_createnone{
    display: none;
}

    
